.projects_container{
    width: inherit;
    /*padding: 0 20px;*/
}
.middle_container{
  width: 100%;
    margin: 0 auto;
}
/**********************project box's*******************************/
.single_container{
    transition: 0.8s;
    width: 47.9%;
    display: inline-block;
    height: 378px;
    background-color: rgb(39, 158, 74);
    margin: 10px;
    vertical-align: top;
    opacity: 0;
    overflow:hidden;

}

.single_container:hover {
    box-shadow:10px 10px 0px #888888;
}

.img_text_container{
    display: inline-block;
    position: relative;
    height: 308px;
    width: 220px;
    vertical-align: bottom;
    background-color: #63aa78;
    border: 5px solid rgb(0, 255, 170);
}

.single_image{
    position: absolute;
    height: 318px;
    width: 224px;
    display: block;
}
/*
.single_text{
    height: 110px;
    width: 184px;
    display: block;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
    line-height: 18px;
    position: absolute;
    background-color: rgb(39, 158, 74);
    bottom: -4px;
    transition: .5s;
    overflow: hidden;
}
*/
.single_links_container{
    height: 56px;
    width: 100%;
    display: flex;
    background-color:rgb(47, 96, 45);
    border-top: 2px solid rgb(25, 195, 90);
    transition: 0.8s;
    vertical-align: top;
}

.single_link{
    display: inline-block;
    text-decoration: none;
    width: 75px;
    height: 56px;
}

.single_link_icon{
    text-align: center;
    height: 28px;
    width: 47px;
    padding: 14px;
    transition-duration: 0.3s;
}

.single_link_icon:hover {
  background-color: #3c48b9;
}



/*ICONS*/

.github{
  background-color: #0D47A1;

}
.web_link{
  background-color: #1565C0;
}
.gallery{
  background-color: #1976D2;
}
.more_link_container{
  width: 100%;
  background-color: #1E88E5;
}
.more{
  background-color: #1E88E5;
  width: 100%;
  padding: 14px 0px;
  transition: 0s;
}
.nonactive{
  background-color: rgb(101, 113, 124);
  transition-duration: 0s;
  pointer-events: none;
}


/*TEXT*/

p{
  padding: 15px 30px;
  font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
    line-height: 18px;
    transition: 1.6s;
    
}

h1{
  text-align: center;
    margin: 0;
    font-size: 3em;
    color: #26db44;
}

.second_text_container_none{
  display: inline-block;
  width: 28.8%;
  visibility: visible;    
  position: absolute;
  overflow: hidden;
  transition: inherit;

}


/* on click SHOW THESE class  */
/*
.id_single_container{
  
  width : 700px;
  
}
.id_links_container{
  width : 100%;
}
.id_more_link{
  width : 100%;
}
.id_more_expand{
  transform : scaleX(-1);
  width : 100%;
  padding : 14px 0px;
  
}

.id_single_text{
  height: 0px;
  transition: height .5s;
  padding: 0px 20px;
  overflow: hidden;
 
 }

.id_second_text_container{
  transition: 0.8s;
  display: inline-block;
  vertical-align: top;
  width: 480px;
  height:318px;
  visibility: visible; 
}
.id_ghostly_text{
  opacity: 1;
}*/






/*Different devices*/


@media (min-width: 1281px) {
  /* 
  ##Device : Desktops
  ##Screen : 1281px to higher resolution desktops
*/
.middle_container{
    /*width: 1181px;*/
    
}
    
  }
  
 
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    /* 
    ##Device : Laptops, Desktops
    ##Screen : B/w 1025px to 1280px
  */
  .middle_container{
    /*width: 875px;*/
    
}
.single_container{
  width: 98%;
  
}
.second_text_container_none{
  width: 70.8%;

}
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
    /* 
    ##Device : Tablets, Ipads (portrait)
    ##Screen : B/w 768px to 1024px
  */
  .single_container{
    width: 98%;
    
}
.second_text_container_none{
  width: 70.8%;

}
  .middle_container{
    /*width: 610px;*/
    
}



  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* 
    ##Device : Tablets, Ipads (landscape)
    ##Screen : B/w 768px to 1024px
  */
  .single_container{
    width: 98%;
    
}
.second_text_container_none{
  width: 70.8%;

}
  }
  
  
  
  @media (min-width: 481px) and (max-width: 767px) {
   /* 
    ##Device : Low Resolution Tablets, Mobiles (Landscape)
    ##Screen : B/w 481px to 767px
  */
  .middle_container{
    /*width: 285px;*/
  
}
.single_container{
  width: 98%;
  
}
.second_text_container_none{
  width: 70.8%;

}
  }
  
 
  
  @media (min-width: 320px) and (max-width: 480px) {
     /* 
    ##Device : Most of the Smartphones Mobiles (Portrait)
    ##Screen : B/w 320px to 479px
  */
  .single_container{
    width: 98%;
    
}
.second_text_container_none{
  width: 70.8%;

}
  }