.projects_container{
    width: inherit;
    padding: 0 50px;
}
.middle_container{
    margin: 0 auto;
}
/*****************************************************/
.single_container{
    transition: 0.8s;
    width: 224px;
    display: inline-block;
    height: 376px;
    background-color: rgb(39, 158, 74);
    margin: 10px;
    vertical-align: top;

}
.single_container:hover {
    box-shadow:10px 10px 0px #888888;
}

.img_text_container{
  display: inline-block;
  position: relative;
  height: 314px;
  width: 220px;
}

.single_image{
  position: absolute;
  height: 318px;
width: 224px;
display: block;
/*background-color:rgb(52, 223, 223); Open Sans, sans-serif */
}

.single_text{
    height: 110px;
    width: 184px;
    display: block;
    /*background-color:rgb(224, 110, 102);*/
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
    line-height: 18px;
    position: absolute;
    background-color: rgb(39, 158, 74);
    bottom: -4px;
    transition: .5s;
    overflow: hidden;
    /*text-align: justify;
    word-break: break-all;*/

    }

.single_links_container{
        height: 56px;
        width: 100%;
        display: flex;
        background-color:rgb(47, 96, 45);
        border-top: 2px solid rgb(25, 195, 90);
        transition: 0.8s;
        vertical-align: top;
        }
/*
#id_links_container:nth-child(1){
  order:1;
}
#id_links_container:nth-child(2){
  order:2;
}
#id_links_container:nth-child(3){
  order:3;
}
#id_links_container:nth-child(4){
  order:4;
}*/

.single_link{
  display: inline-block;
  text-decoration: none;
  width: 56px;
  height: 56px;
}

.single_link_icon{
  text-align: center;
  height: 28px;
  width: 28px;
  padding: 14px;
  transition-duration: 0.3s;
}

.single_link_icon:hover {
  background-color: #3c48b9;

}

.github{
background-color: #0D47A1;

}
.web_link{
  background-color: #1565C0;

}
.gallery{
  background-color: #1976D2;

}
.more_link_container{
  width: 100%;
}
.more{
  background-color: #1E88E5;
  width: 100%;
  padding: 14px 0px;
  transition: 0s;
}
p{
  padding: 15px 30px;
  font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
    line-height: 18px;
  
    transition: 1.6s;
    opacity: 0;
}

h1{
  text-align: center;
    margin: 0;
    /* margin-top: 15px; */
    font-size: 3em;
    color: #26db44;
}

.second_text_container_none{

  display: inline-block;
  width: 0;
visibility: hidden;    
position: absolute;
overflow: hidden;

}








/* on click class */
.id_single_container{
  
  width : 700px;
}
.id_links_container{
  width : 100%;
}
.id_more_link{
  width : 100%;
}
.id_more_expand{
  
  transform : scaleX(-1);
  width : 100%;
  padding : 14px 0px;
  
}

.id_single_image{
  /*display: inline-block;
  height: 300px;*/

}
.id_single_text{
  
  height: 0px;
  transition: height .5s;
  padding: 0px 20px;
  overflow: hidden;
 
 }

.id_second_text_container{
  transition: 0.8s;
  display: inline-block;
  vertical-align: top;
  width: 480px;
  height:318px;
  
  visibility: visible; 
}
.id_ghostly_text{

  /*visibility: visible;*/
  opacity: 1;
}



/*
.hover_text{
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  transition-duration: 0.3s;
}

.github_text{
  margin-left: -86px;
  margin-top: 65px;
}
.weblink {
  margin-left: 0px;
  margin-top: 0x;
}


.single_link:hover .single_links_container:nth-child(3) {
  visibility: visible;
  opacity: 1;
}
.single_link:hover > .weblink {
  visibility: visible;
  opacity: 1;
}*/















@media (min-width: 1281px) {
  /* 
  ##Device : Desktops
  ##Screen : 1281px to higher resolution desktops
*/
.middle_container{
    width: 1181px;
    
}
    
  }
  
 
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    /* 
    ##Device : Laptops, Desktops
    ##Screen : B/w 1025px to 1280px
  */
  .middle_container{
    width: 875px;
    
}
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
    /* 
    ##Device : Tablets, Ipads (portrait)
    ##Screen : B/w 768px to 1024px
  */
  .middle_container{
    width: 610px;
    
}
    
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* 
    ##Device : Tablets, Ipads (landscape)
    ##Screen : B/w 768px to 1024px
  */
   
  }
  
  
  
  @media (min-width: 481px) and (max-width: 767px) {
   /* 
    ##Device : Low Resolution Tablets, Mobiles (Landscape)
    ##Screen : B/w 481px to 767px
  */
  .middle_container{
    width: 285px;
    
}
    
  }
  
 
  
  @media (min-width: 320px) and (max-width: 480px) {
     /* 
    ##Device : Most of the Smartphones Mobiles (Portrait)
    ##Screen : B/w 320px to 479px
  */
    
  }